<app-teacher-dashboard> </app-teacher-dashboard>

<div class="container">
    <div class="row pt-3 pb-4">
        <div class="d-flex">
            <h1>
                STUDENTS
            </h1>
            <h6>
                <span class="badge rounded-pill bg-danger">{{students.length}}</span>
            </h6>
        </div>
    </div>

    <input class="search-input mb-3" type="text" [(ngModel)]="searchText" (input)="searchStudents()"
        placeholder="Search Student" />


    <ngb-pagination [collectionSize]="getTotalPages() * pageSize" [(page)]="page" [pageSize]="pageSize"
        [boundaryLinks]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0 ">
                <div class="d-flex flex-nowrap px-2">
                    <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
                    <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                        id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)"
                        (blur)="selectPage(i.value)" (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="text-align: center; width: 3.0rem" />
                    <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{getTotalPages()}}
                    </span>
                </div>
            </li>
        </ng-template>
    </ngb-pagination>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered bordered-light">
            <thead>
                <tr class="table-dark">
                    <th>ID</th>
                    <th>No</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Absenteeism</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-secondary" *ngFor="let student of getStudentsOnCurrentPage()">
                    <td>{{ student._id }}</td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else noField">
                            {{ student.no }}
                        </ng-container>
                        <ng-template #noField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.no === null || student.no === undefined"> <strong> Student
                                            no required </strong> </mat-error>
                                </span>
                            </div>
                            <input
                                [ngClass]="!(student.no === null || student.no === undefined) ? 'success-border': 'error-border'"
                                #inputNo class="table-input no-spinners" type="number" [(ngModel)]="student.no"
                                maxlength="15">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else emailField">
                            {{ student.email }}
                        </ng-container>
                        <ng-template #emailField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.email.trim().length < 1"> <strong> Student email required
                                        </strong></mat-error>
                                </span>
                            </div>
                            <input [ngClass]="!(student.email.trim().length < 1) ? 'success-border': 'error-border'"
                                class="table-input" type="text" [(ngModel)]="student.email" maxlength="40">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else passwordField">
                            {{ student.password }}
                        </ng-container>
                        <ng-template #passwordField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.password.trim().length < 1"> <strong> Student password
                                            required </strong></mat-error>
                                </span>
                            </div>
                            <input [ngClass]="!(student.password.trim().length < 1) ? 'success-border': 'error-border'"
                                class="table-input" type="text" [(ngModel)]="student.password" maxlength="20">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else nameField">
                            {{ student.name }}
                        </ng-container>
                        <ng-template #nameField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.name.trim().length < 1"> <strong> Student name required
                                        </strong> </mat-error>
                                </span>
                            </div>
                            <input [ngClass]="!(student.name.trim().length < 1) ? 'success-border': 'error-border'"
                                class="table-input" type="text" [(ngModel)]="student.name" maxlength="20">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else surnameField">
                            {{ student.surname }}
                        </ng-container>
                        <ng-template #surnameField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.surname.trim().length < 1"> <strong> Student surname
                                            required </strong> </mat-error>
                                </span>
                            </div>
                            <input [ngClass]="!(student.surname.trim().length < 1) ? 'success-border': 'error-border'"
                                class="table-input" type="text" [(ngModel)]="student.surname" maxlength="20">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!student.isEditing; else absenteeismField">
                            {{ student.absenteeism }}
                        </ng-container>
                        <ng-template #absenteeismField>
                            <div>
                                <span>
                                    <mat-error *ngIf="student.absenteeism > 100"> <strong> Absenteeism can be max 100
                                        </strong> </mat-error>
                                </span>
                            </div>
                            <input [ngClass]="!(student.absenteeism > 100) ? 'success-border': 'error-border'"
                                class="table-input no-spinners numbers" type="number" [(ngModel)]="student.absenteeism"
                                maxlength="3">
                        </ng-template>
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="display:flex; justify-content:space-between">
                            <ng-container *ngIf="!student.isEditing; else editField">
                                <a type="button" class="btn btn-primary" (click)="startEditing(student)">Edit</a>
                                <a type="button" class="btn btn-info" (click)="setSelectedStudentMessage(student)"
                                    data-toggle="modal" data-target="#sendMessageModal">Message</a>
                                <a type="button" class="btn btn-warning" (click)="setSelectedStudentExams(student)"
                                    data-toggle="modal" data-target="#examsModal">Exams</a>
                                <a type="button" class="btn btn-danger" (click)="setSelectedStudentDelete(student)"
                                    data-toggle="modal" data-target="#deleteStudentModal">Delete</a>
                            </ng-container>
                            <ng-template #editField>
                                <button type="button" class="btn btn-success" (click)="saveEditedStudent(student)"
                                    [disabled]="editErrors(student)">Save</button>
                            </ng-template>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="students.length === 0">
                    <td colspan="10">
                        <p class="alert alert-danger">
                            <strong> Student not available </strong>
                        </p>
                    </td>
                </tr>
                <tr *ngIf="students.length > 0 && getTotalPages() === 0">
                    <td colspan="10">
                        <p class="alert alert-danger">
                            <strong> No student matching the search information were found </strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container" *ngIf="updateStudentMessage">
        <div
            [ngClass]="updateStudentMessageType === 'success' ? 'alert alert-success' : (updateStudentMessageType === 'danger' ? 'alert alert-danger' : '')">
            <strong>{{ updateStudentMessage }}</strong>
        </div>
    </div>

    <div class="container" *ngIf="deleteStudentMessage">
        <div
            [ngClass]="deleteStudentMessageType === 'success' ? 'alert alert-success' : (deleteStudentMessageType === 'danger' ? 'alert alert-danger' : '')">
            <strong>{{ deleteStudentMessage }}</strong>
        </div>
    </div>


</div>

<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentModalLabel"> <strong> Delete Student </strong></h5>
            </div>
            <div class="modal-body">
                <h5> <strong> Student information </strong> </h5>
                <ul>
                    <li>
                        <strong>No: </strong> {{selectedStudentNo}}
                    </li>
                    <li>
                        <strong>Email: </strong> {{selectedStudentEmail}}
                    </li>
                    <li>
                        <strong>Name: </strong> {{selectedStudentName}}
                    </li>
                    <li>
                        <strong>Surname: </strong> {{selectedStudentSurname}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete(selectedStudentId)">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendMessageModalLabel"> <strong> Send Message </strong></h5>

                <button type="button" class="btn btn-warning position-relative" data-toggle="modal" data-dismiss="modal"
                    data-target="#viewMessagesModal">
                    View Sent Messages
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{selectedStudentMessages.length}}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>

            <div class="modal-body">
                <h5> <strong> Student information </strong> </h5>
                <ul>
                    <li>
                        <strong>No: </strong> {{selectedStudentNo}}
                    </li>
                    <li>
                        <strong>Email: </strong> {{selectedStudentEmail}}
                    </li>
                    <li>
                        <strong>Name: </strong> {{selectedStudentName}}
                    </li>
                    <li>
                        <strong>Surname: </strong> {{selectedStudentSurname}}
                    </li>
                </ul>
                <label for="message" class="form-label"> <strong> Message </strong> </label>
                <textarea class="form-control" id="message" rows="4" required maxlength="100"
                    [(ngModel)]="message"></textarea>
                <mat-error *ngIf="message.trim().length < 3"> <strong> Message required and must be at least 3
                        characters </strong>
                </mat-error>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary active" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="message.trim().length < 3"
                    (click)="sendMessage(selectedStudentId)">Send</button>
            </div>

            <div class="container" *ngIf="sendMessageMessage">
                <div
                    [ngClass]="sendMessageMessageType === 'success' ? 'alert alert-success' : (sendMessageMessageType === 'danger' ? 'alert alert-danger' : '')">
                    <strong>{{ sendMessageMessage }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewMessagesModal" tabindex="-1" role="dialog" aria-labelledby="viewMessagesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewMessagesModalLabel"> <strong> Sent Messages </strong></h5>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-dismiss="modal"
                    data-target="#sendMessageModal"> Send Message </button>
            </div>

            <div class="modal-body">
                <h5> <strong> Student information </strong> </h5>
                <ul>
                    <li>
                        <strong>No: </strong> {{selectedStudentNo}}
                    </li>
                    <li>
                        <strong>Email: </strong> {{selectedStudentEmail}}
                    </li>
                    <li>
                        <strong>Name: </strong> {{selectedStudentName}}
                    </li>
                    <li>
                        <strong>Surname: </strong> {{selectedStudentSurname}}
                    </li>
                </ul>

                <div>
                    <div *ngFor="let message of selectedStudentMessages">
                        <div class="card mb-3">
                            <div class="card-header">
                                <strong> {{ message.date | date: 'dd.MM.yyyy HH:mm:ss'}} </strong>
                                <i (click)="deleteMessage(message._id)" class="fa-solid fa-xmark fa-lg"
                                    style="color: #ff0000;"></i>
                            </div>
                            <div class="card-body">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="selectedStudentMessages.length === 0">
                        <p class="alert alert-danger">
                            <strong> No messages sent to this student were found. </strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary active" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="examsModal" tabindex="-1" role="dialog" aria-labelledby="examsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examsModalLabel"> <strong> Registered Exams </strong></h5>
            </div>
            <div class="modal-body">
                <h5> <strong> Student Information </strong> </h5>
                <ul class="list-unstyled">
                    <li>
                        <strong>No:</strong> {{selectedStudentNo}}
                    </li>
                    <li>
                        <strong>Email:</strong> {{selectedStudentEmail}}
                    </li>
                    <li>
                        <strong>Name:</strong> {{selectedStudentName}}
                    </li>
                    <li>
                        <strong>Surname:</strong> {{selectedStudentSurname}}
                    </li>
                </ul>

                <div>
                    <table class="table table-bordered ">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">Exam</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light" *ngFor="let exam of selectedStudentExams">
                                <td>{{ exam.name }} {{ exam.type }}</td>
                                <td>{{ exam.score }}</td>
                            </tr>
                            <tr *ngIf="selectedStudentExams.length === 0">
                                <td colspan="2">
                                    <strong> This student is not registered for any exams. </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary active" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>