.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.success-border {
    border: 2px solid green;
}

.text-danger {
    font-size: 10px;
}

.form-control {
    outline: none;
}



.numbers {
    text-align: center;
    width: 55px;
}

select {
    font-size: 15px;
}

input {
    font-size: 15px;
}

.fa-xmark {
    margin-top: 10px;
    visibility: hidden;
    cursor: pointer;
}

.exams-card-body {
    max-height: 490px;
    overflow-y: auto;
}

.exams-card {
    transition: transform 0.2s;
}

.exams-card:hover {
    transform: scale(1.03);
}

.exams-card-header {
    display: flex;
    justify-content: space-between;
}

.exams-card:hover .fa-xmark {
    visibility: visible;
}

.registered-student-card {
    transition: transform 0.2s;
}

.registered-student-card:hover {
    transform: scale(1.03);
}

.registered-student-card:hover .fa-xmark {
    visibility: visible;
}

.card-body p {
    border-bottom: 1px solid #ccc;

}

.search-input {
    border: 1px solid #afafaf;
    border-radius: 5px;
    outline: none;
}

.search-input:focus {
    border-color: #007bff;
}

.card-footer-buttons {
    margin: 5px;

}

.fa-user-pen {
    cursor: pointer;
}

.fa-check {
    cursor: pointer;
}


.table-input {
    border: 1px solid #afafaf;
    border-radius: 5px;
    outline: none;
}

.success-border {
    border: 2px solid green;
}

.error-border {
    border: 2px solid red;
}

.disabled-icon {
    opacity: 0.3;
}